body {background-image: url (im.JPG);}
h1 {text-align: center;
    text-decoration:underline;
    font-size: x-large;}
h2 {text-decoration: underline;}


footer {text-align: center;
        color: white }